/* Add any custom styles here */
#hero {
    background-color: #2ecc71;
    color: darkgreen;
}
 
.social-links a {
    text-decoration: none;
    font-weight: bold;
    color: pink;
}

#fun-zone {
    background-color: aquamarine;
    color: red;
}

a:hover {
    box-shadow: greenyellow;
}

a:visited {
    color: darkorange;
}